.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../media/jotc.jpg");
  height: 100vh;
}
form {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 50px;
  border-radius: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 8%;
  margin-left: 38%;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: rgb(34, 3, 63);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}
